body
	width: auto

.hide-element
	display: none

.show-element
	display: inital

.dataTable
	.dataTable-chevronDown
		width: 12px
		height: 7px
		margin-right: 10px

	.dataTable-paddingReset
		padding: 0 !important
		border: none !important

	.dataTable-cellSmall
		width: 10%

	.dataTable-cellLarge
		width: 12%

	.dataTable-smallCol
		width: 5%

	.dataTable-moreButton
		fill: #BBC4D1
		svg
			width: 55%

	.dataTable-dependent
		display: flex
		align-items: center

	.dataTable-dependent--1
		@extend .dataTable-dependent
		padding-left: 2.5rem !important
		padding-right: 0 !important