@import url(../../../node_modules/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css);
body { width: auto; }

.slds-global-header_container { position: inherit; }

.hide-element { display: none; }

.show-element { display: inital; }

.actionPlanContainer { overflow: scroll; }

.dataTable .dataTable-chevronDown { width: 12px; height: 7px; margin-right: 10px; }
.dataTable .chevron-closed { transform: rotate(-0.25turn) translateX(-6px) translateY(-6px); }
.dataTable .chevron-open { transform: inital; }
.dataTable .dataTable-paddingReset { padding: 0 !important; border: none !important; }
.dataTable .dataTable-cellSmall { width: 10%; }
.dataTable .dataTable-cellLarge { width: 12%; }
.dataTable .dataTable-smallCol { width: 5%; }
.dataTable .dataTable-moreButton { fill: #BBC4D1; }
.dataTable .dataTable-moreButton svg { width: 55%; }
.dataTable .dataTable-dependent, .dataTable .dataTable-dependent--1, .dataTable .dataTable-dependent--2, .dataTable .dataTable-dependent--3, .dataTable .dataTable-dependent--4 { display: flex; align-items: center; }
.dataTable .dataTable-dependent--1 { padding-left: 2.5rem !important; padding-right: 0 !important; }
.dataTable .dataTable-dependent--2 { padding-left: 3.5rem !important; padding-right: 0 !important; }
.dataTable .dataTable-dependent--3 { padding-left: 4rem !important; padding-right: 0 !important; }
.dataTable .dataTable-dependent--4 { padding-left: 5rem !important; padding-right: 0 !important; }

.custom-modal .form-row { display: flex; justify-content: space-between; margin-bottom: 15px; }
.custom-modal .form-row .slds-form-element { width: 48%; }

.slds-card .slds-card__header--top { border-bottom: 1px solid #d8dde6; padding-bottom: 0.75rem; margin-bottom: 0; }
.slds-card .slds-card__body--details { border-bottom: 1px solid #d8dde6; background-color: white; padding-top: 16px; }

.actionPlanSummary { display: flex; background-color: #fff; padding: 20px 24px; justify-content: space-between; }

.actionPlanSummary-data span { font-size: 12px; color: #6D7996; }

.custom-buttonGroup svg { width: 30%; }

.actionPlanProgressBar { padding: 0 20px; }

progress[value] { -webkit-appearance: none; appearance: none; width: 100%; height: 10px; }

progress[value]::-webkit-progress-bar { background-color: #d8dde6; border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; }

progress[value]::-webkit-progress-value { background-color: #4BC076; }

.bodyContainer { display: flex; }
.bodyContainer-leftPanel { padding: 24px; width: 65%; }
.bodyContainer-rightPanel { padding: 24px; width: 35%; }
.bodyContainer-rightPanel .slds-button-group-list { display: flex; }

* { margin: 0; padding: 0; border: none; }
