@import url(../../../node_modules/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css);
body { width: auto; }

.hide-element { display: none; }

.show-element { display: inital; }

.dataTable .dataTable-chevronDown { width: 12px; height: 7px; margin-right: 10px; }
.dataTable .dataTable-paddingReset { padding: 0 !important; border: none !important; }
.dataTable .dataTable-cellSmall { width: 10%; }
.dataTable .dataTable-cellLarge { width: 12%; }
.dataTable .dataTable-smallCol { width: 5%; }
.dataTable .dataTable-moreButton { fill: #BBC4D1; }
.dataTable .dataTable-moreButton svg { width: 55%; }
.dataTable .dataTable-dependent, .dataTable .dataTable-dependent--1 { display: flex; align-items: center; }
.dataTable .dataTable-dependent--1 { padding-left: 2.5rem !important; padding-right: 0 !important; }

* { margin: 0; padding: 0; border: none; }
